#search{
	width: 25%;
    height: 38px;
    border: none;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 24px;
    float: left;
    margin-left: 89px;
}
#imaa{
	margin-left: 0px;
    margin-top: 0px;
    float: left;
}
#banner{
	border: 2px solid gray;
	box-shadow: 2px 2px 2px gray;
    height: 90px;
    width: 100%;
    background: #FF3333;
}
.container{
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
ul li{
	list-style-type: none;
	margin-left: 27px;
}
a:visited {
	color: white;
}
a:link {
	color: red;
}
a:hover{
	color: yellow;
}
#menu1{
    margin-top: -13px;
    float: left;
}
#menu2,#menu3,#menu4,#menu5,#menu6,#menu7,#menu8{
    width: 150px;
    margin-top: -8px;
    float: left;
    margin-left: 20px;
    height: 32px;
    text-align: center;
}
#verticalmenu {
	margin-top: 5px;
    margin-left: -13px;
    border: 2px solid gray;
    box-shadow: 2px 3px 2px;
    height: 33px;
    width: 102%;
    background: #FF3333;
}
#searchbutton{
    margin-top: 24px;
    float: left;
    margin-left: -1px;
}
#iphone,#ipad,#note9,#s9{
	float: left;
	margin-left: 52px;
}

#gift,#banner2{
	float: left;
    margin-top: 7px;
    margin-left: 110px;
   
   
}
#mainbanner{
	border: 2px solid gray;
    box-shadow: 2px 3px 2px grey;
    height: 235px;
    margin-top: 7px;
    width: 100%;
    background: #FF3333;
}
#main{
	border: 2px solid gray;
    box-shadow: 2px 3px 2px grey;
    height: 340px;
    margin-top: 7px;
    margin-left: 548px;
    width: 63%;
}
#main2{
	border: 2px solid gray;
    box-shadow: 2px 3px 2px grey;
    height: 691px;
    margin-top: -695px;
    float: left;
    width: 35%;
}

#sanphamappleheader{
	border: 2px solid gray;
    border-radius: 12px;
    height: 37px;
    width: 101%;
    margin-top: 3px;
    line-height: 1.5;
    margin-left: -8px;
    background-color: #FF3333;
    color: white;
}

#dinhdangapple{
	margin-left: 31px;
}
#iphonexsmax64gb{
	margin-left: 7px;
	margin-top: 10px;
}

#iphonexsmax64gb,#iphonexs64gb,#iphonexr64gb,#iphonex64gb{
	margin-left: 53px;
	margin-top: -4px;
	float: left;
}
#iphonename{
	margin-left: -108px;
}
#iphonexsmax64gbprice,#iphonexs64gbprice,#iphonexr64gbprice,#iphonex64gbprice{
	margin-left: 68px;
	margin-top: -11px;
	float: left;
	color: #FF3333;
}
#iphoneprice{
	margin-left: -85px;
}
#main3{
	border: 2px solid gray;
    box-shadow: 2px 3px 2px grey;
    height: 340px;
    margin-top: 7px;
    margin-left: 548px;
    width: 63%;
}
#samsungname{
	margin-left: -108px;
}
#samsungprice{
	margin-left: -90px;
}
#glxnote9price,#glxs9plusprice,#glxs9price,#glxnote8price{
	margin-left: 68px;
	margin-top: -11px;
	float: left;
	color: #FF3333;
}
#glxnote9,#glxs9plus,#glxs9,#glxnote8{
	margin-left: 87px;
	margin-top: -4px;
	float: left;
}
#sonyxa1,#sonyl2{
	margin-left: 44px;
	margin-top: -4px;
	float: left;
}
#sonyname{
	margin-left: -108px;
}
#sonyprice{
	margin-left: -112px;
}
#sonyxa1price,#sonyl2price{
	margin-left: 77px;
	margin-top: -11px;
	float: left;
	color: #FF3333;
}
#footer{
	border: 2px solid gray;
	box-shadow: 2px 2px 2px gray;
    height: 200px;
    width: 100%;
    background: #FF3333;
    margin-top: 7px;
    color: white;
}
#dinhdangfooter{
	margin-left: 10px;
	margin-top: 10px;
}
#ft1,#ft2,#ft3{
	margin-left: 10px;
	margin-top: -5px;
	float: left;
}
#h1,#h2,#h3,#h4,#h5,#h6,#h7,#h8,#h9,#h10,#h11,#h12{
	margin-top: 23px;
}
#ft4{
	margin-left: 60px;
	margin-top: 101px;
	float: left;
}
#h13,#h14,#h15,#h16{
	margin-left: 10px;
	margin-top: 10px;
}
#gifbanner{
	margin-top: 10px;
}
