body {
    width: 900px;
    border-width: 4px;
    border-color: darkgray;
    border-style: solid;
    height: 600px;
}

#header {
    width: 100%;
    background-color: lightblue;
    height: 15%
}

#container {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 10%;
    margin-right: 10%;
    height: 68%;
}

#main {
    background-color: lightgreen;
    width: 78%;
    float: left;
    height: 58%;
    vertical-align: middle;      
}

#main .text {
    text-align: center;
    margin-top: 20%;
    vertical-align: middle;
}

#sidebar {
    background-color: orange;
    height: 58%;
    width: 20%;
    float: left;
    margin-left: 6px;
    vertical-align: middle;
}

#twin1 {
    float: left;
    background-color: green;
    width: 49%;
    float: left;
    height: 40%;
    margin-top: 6px;
}

#twin2 {
    background-color: orange;
    width: 49%;
    float: left;
    height: 40%;
    margin-top: 6px;
    margin-left: 6px;
}

#footer {
    margin-top: 6px;
    width: 100%;
    background-color: lightblue;
    height: 15%;
}