section{
	height: 200px;
}
header{
	background-color: orange;
	padding: 20px;
	margin: 5px;
}
#nav{
	background-color: yellow;
	padding: 20px;
	height: 75%;
	margin: 5px;
	width: 29.6%;
	float: left;
}
#article{
	background-color: yellow;
	padding: 20px;
	height: 75%;
	margin: 5px;
	width: 29.6%;
	float: left;
}
#ads{
	background-color: yellow;
	padding: 20px;
	height: 75%;
	margin: 5px;
	width: 29.6%;
	float: left;
}
footer{
	background-color: orange;
	padding: 20px;
	margin: 5px;
}